{% extends 'base.html.twig' %}

{% block custom_title %}
	<div class="flex-header">
		<h1>
			Membres
		</h1>

		<div class="logout">
			{% if app.user %}
				{% set initials = app.user.firstname|first ~ app.user.lastname|first %}
				<a href="{{ path('app_auth_logout') }}" class="avatar" title="{{ app.user.firstname }} {{ app.user.lastname }}">
					{{ initials|upper }}
				</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block body %}

	<div id="content">
		<table id="team-container">
			<thead>
				<tr>
					<th>Prénom, Nom</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for member in members %}
					<tr>
						<td>
							<div class="employee-infos">

								{% set initials = member.firstname|first ~ member.lastname|first %}
								<div class="employee-avatar" title="{{ member.firstname }} {{ member.lastname }}">
									{{ initials|upper }}
								</div>

								<div class="employee-coords">
									<strong>
										{{ member.firstname}}
										{{ member.lastname }}
									</strong>
									<span>{{ member.email}}</span>
								</div>
							</div>
						</td>
						<td>{{ member.status}}</td>
						<td>
							<a class="button button-edit-team" href="{{ path('app_members_edit', { id: member.id}) }}">
								Éditer
							</a>
							<a class="delete-team" href="{{ path('app_members_delete', { id: member.id}) }}">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>{% endblock %}
