{% extends 'base.html.twig' %}

{% block custom_title %}
	<div class="flex-header">
		<h1>
			{{ project.title }}
		</h1>
		<div class="user-list">
			{% for member in project.members %}
				{% set initials = member.firstname|first ~ member.lastname|first %}
				<div class="avatar" title="{{ member.firstname }} {{ member.lastname }}">
					{{ initials|upper }}
				</div>
			{% endfor %}
		</div>
		<a class="button" href="{{ path('app_projects_edit', { id: project.id}) }}">Modifier</a>

		<div class="logout">
			{% if app.user %}
				{% set initials = app.user.firstname|first ~ app.user.lastname|first %}
				<a href="{{ path('app_auth_logout') }}" class="avatar" title="{{ app.user.firstname }} {{ app.user.lastname }}">
					{{ initials|upper }}
				</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block body %}

	<div id="content">
		<div id="tasks-container">

			<div class="task-column">

				<h2>To Do</h2>

				{% if(tasks['todo'] is defined) %}
					<div class="tasks-list">

						{% for task in tasks['todo'] %}
							<a class="task" href="{{ path('app_tasks_edit', { id: task.id}) }}">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.date|date('d/m/Y') }}
										{% for member in task.members %}
											{% set initials = member.firstname|first ~ member.lastname|first %}
											<div class="mini-user" title="{{ member.firstname }} {{ member.lastname }}">
												{{ initials|upper }}
											</div>
										{% endfor %}
									</div>
								</div>
							</a>
						{% endfor %}
					{% endif %}

					<a href="{{ path('app_tasks_add', { id: project.id}) }}" class="task-add">
						+ Ajouter une tâche
					</a>

									{% if(tasks['todo'] is defined) %}
					</div>
				{% endif %}

			</div>

			<div class="task-column">

				<h2>Doing</h2>

				{% if(tasks['doing'] is defined) %}
					<div class="tasks-list">

						{% for task in tasks['doing'] %}
							<a class="task" href="{{ path('app_tasks_edit', { id: task.id}) }}">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.date|date('d/m/Y') }}
										{% for member in task.members %}
											{% set initials = member.firstname|first ~ member.lastname|first %}
											<div class="mini-user" title="{{ member.firstname }} {{ member.lastname }}">
												{{ initials|upper }}
											</div>
										{% endfor %}
									</div>
								</div>
							</a>
						{% endfor %}
					{% endif %}

					<a href="{{ path('app_tasks_add', { id: project.id}) }}" class="task-add">
						+ Ajouter une tâche
					</a>

					{% if(tasks['doing'] is defined) %}
					</div>
				{% endif %}


			</div>

			<div class="task-column">

				<h2>Done</h2>

				{% if(tasks['done'] is defined) %}
					<div class="tasks-list">

						{% for task in tasks['done'] %}
							<a class="task" href="{{ path('app_tasks_edit', { id: task.id}) }}">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.date|date('d/m/Y') }}
										{% for member in task.members %}
											{% set initials = member.firstname|first ~ member.lastname|first %}
											<div class="mini-user" title="{{ member.firstname }} {{ member.lastname }}">
												{{ initials|upper }}
											</div>
										{% endfor %}
									</div>
								</div>
							</a>
						{% endfor %}
					{% endif %}

					<a href="{{ path('app_tasks_add', { id: project.id}) }}" class="task-add">
						+ Ajouter une tâche
					</a>

									{% if(tasks['done'] is defined) %}
					</div>
				{% endif %}

			</div>

		</div>
	</div>

{% endblock %}
