{% extends 'base.html.twig' %}

{% block title %}
	<div class="flex-header">
		<h1>
			Projets
		</h1>

		<div class="logout">
			{% if app.user %}
				{% set initials = app.user.firstname|first ~ app.user.lastname|first %}
				<a href="{{ path('app_auth_logout') }}" class="avatar" title="{{ app.user.firstname }} {{ app.user.lastname }}">
					{{ initials|upper }}
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="content">

		<div id="projects-container">

			{% for project in projects %}
				<article class="card-project">
					<a href="{{ path('app_projects_show', { id: project.id}) }}">
						<h2>{{ project.title }}</h2>
					</a>
					<div class="card-project-icons">
						<a href="{{ path('app_projects_edit', { id: project.id}) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('app_projects_archive', { id: project.id}) }}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>
				</article>
			{% endfor %}

			<article class="card-project">
				<a href="{{ path('app_projects_add') }}">
					<i class="fa-solid fa-circle-plus add-project-icon"></i>
					<h2>Ajouter un projet</h2>
				</a>
			</article>

		</div>


	</div>
{% endblock %}
