{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<div id="content">

		<div id="projects-container">

			{% for project in projects %}
				<article class="card-project">
					<a href="{{ path('app_projects_show', { id: project.id}) }}">
						<h2>{{ project.title }}</h2>
					</a>
					<div class="card-project-icons">
						<a href="{{ path('app_projects_edit', { id: project.id}) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('app_projects_archive', { id: project.id}) }}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>
				</article>
			{% endfor %}

			<article class="card-project">
				<a href="{{ path('app_projects_add') }}">
					<i class="fa-solid fa-circle-plus add-project-icon"></i>
					<h2>Ajouter un projet</h2>
				</a>
			</article>

		</div>


	</div>
{% endblock %}
