{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
<form method="post" action="{{ path('app_auth_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


        {% if app.user %}
            <div class="mb-3">
             Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_auth_logout') }}">Logout</a>
            </div>
        {% endif %}


    <label>Email</label>
    <input type="email" name="email" value="{{ last_username }}" required>

    <label>Mot de passe</label>
    <input type="password" name="password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit">Se connecter</button>
</form>
{% endblock %}
